[Unit]
Description=kvgo-server
After=network.target

[Service]
User=kvgo
Group=kvgo
Type=simple
LimitNOFILE=4096
ExecStart=/opt/lynkdb/kvgo/bin/kvgo-server -log_dir /opt/lynkdb/kvgo/var/log -minloglevel 1 -logtolevel true
ExecReload=/bin/kill -HUP $MAINPID

TimeoutStartSec=0

KillMode=process

Restart=always
RestartSec=10

StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target


